<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>XcodeLocation</key>
					<string>{"ExpandTranscript":true,"IndexPath":[2,1]}</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>payload</key>
					<string>x-xcode-log://6E46F492-4FEC-4954-88A9-8AC297E00B8D</string>
				</dict>
				<key>scheme</key>
				<string>x-xcode-log</string>
				<key>type</key>
				<string>IDELogDocumentLocation</string>
			</dict>
			<key>title</key>
			<string>Error: invalid task ('SwiftMergeGeneratedHeaders /Users/ONEX/AndroidStudioProjects/Note/iosApp/iosApp/iosApp-Bridging-Header.h /Users/ONEX/AndroidStudioProjects/Note/iosApp/iosApp/iosApp-Bridging-Header.h') with mutable output but no other virtual output node</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>186</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>185</string>
					<key>Timestamp</key>
					<string>750403992.729341</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>home-directory</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>AndroidStudioProjects/Note/composeApp/src/commonMain/kotlin/ui/screen/chargeUp/AddChargeUpScreen.kt</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string></string>
				<key>leading</key>
				<string>            //选择图片
            platform.SelectImageCompose(fileDataList = chargeUpStatus.files,
</string>
				<key>trailing</key>
				<string>                addFile = { viewModel.addFile(FileData(null, it)) },
                delFile = { image -&gt; viewModel.delFile(image) },
                content = { imageBitmapArray, addSelectPhoto, delImageChange -&gt;
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>home-directory</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>AndroidStudioProjects/Note/composeApp/src/commonMain/kotlin/ui/screen/chargeUp/AddChargeUpScreen.kt</string>
					</dict>
				</dict>
				<key>type</key>
				<string>DVTDocumentLocation</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>186</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>185</string>
					<key>Timestamp</key>
					<string>750403992.729305</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>home-directory</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>AndroidStudioProjects/Note/composeApp/src/commonMain/kotlin/ui/screen/chargeUp/AddChargeUpScreen.kt</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string></string>
				<key>leading</key>
				<string>            //选择图片
            platform.SelectImageCompose(fileDataList = chargeUpStatus.files,
</string>
				<key>trailing</key>
				<string>                addFile = { viewModel.addFile(FileData(null, it)) },
                delFile = { image -&gt; viewModel.delFile(image) },
                content = { imageBitmapArray, addSelectPhoto, delImageChange -&gt;
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>home-directory</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>AndroidStudioProjects/Note/composeApp/src/commonMain/kotlin/ui/screen/chargeUp/AddChargeUpScreen.kt</string>
					</dict>
				</dict>
				<key>type</key>
				<string>DVTDocumentLocation</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
